{:paths   ["src" "resources" "test"]
 :deps    {org.clojure/clojure   {:mvn/version "1.10.3"}
           http-kit/http-kit     {:mvn/version "2.5.3"}
           org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases {:depstar {:extra-deps {seancorfield/depstar {:mvn/version "2.1.278"}}}
           :dev     {:main-opts ["-m" "jeopardy-server.main.dev"]}
           :prod    {:main-opts ["-m" "jeopardy-server.main.prod"]}}}
